@using LazZiya.ExpressLocalization
@inject ISharedCultureLocalizer _loc

<!doctype html>
<html lang="zxx">

<head>

    <meta charset="UTF-8">
    <title>TNTechnology</title>
    <link rel="icon" type="image/png" href="~/assets/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/assets/css/animate.min.css">

    <link rel="stylesheet" href="~/assets/fonts/flaticon.css">

    <link rel="stylesheet" href="~/assets/css/boxicons.min.css">

    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">

    <link rel="stylesheet" href="~/assets/css/nice-select.min.css">

    <link rel="stylesheet" href="~/assets/css/meanmenu.css">

    <link rel="stylesheet" href="~/assets/css/style.css">

    <link rel="stylesheet" href="~/assets/css/responsive.css">

    <link rel="stylesheet" href="~/assets/css/theme-dark.css">

    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/assets/css/custom.css" asp-append-version="true">

    <script src="~/assets/js/owl.carousel.min.js"></script>

    @await RenderSectionAsync("Head", required: false)
</head>

<body>

    <partial name="PartialViews/_PreloaderPartialView" />


    <partial name="PartialViews/_TopHeaderPartialView" />


    <partial name="PartialViews/_NavbarAreaPartialView" />


    <partial name="PartialViews/_SearchOverlayPartialView" />


    @RenderBody()


    <partial name="PartialViews/_FooterAreaPartialView" />

    <partial name="PartialViews/_ThemeModePartialView" />

    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>

    <script src="~/assets/js/jquery.nice-select.min.js"></script>

    <script src="~/assets/js/wow.min.js"></script>

    <script src="~/assets/js/meanmenu.js"></script>

    <script src="~/assets/js/jquery.ajaxchimp.min.js"></script>

    <script src="~/assets/js/form-validator.min.js"></script>

    <script src="~/assets/js/contact-form-script.js"></script>

    <script src="~/assets/js/custom.js" asp-append-version="true"></script>
    
	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>