<div class="counter-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="mb-5">Get Started Today</h2>
            <p class="mb-5 display-6">Get in touch with TN Technoloy to find out how we can help.</p>
        </div>
        <div class="col-lg-12 col-md-12 text-center">
            <a class="default-btn btn-bg-two border-radius-50" href="/contact-us">
                Contact Us
                <i class="bx bx-chevron-right"></i>
            </a>
        </div>
    </div>
</div>