<section class="services-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center mb-5">
            <span class="sp-color1">Our Services</span>
            <h2>We Provide a Wide Variety of IT Services</h2>
        </div>
        <div class="Our-Services owl-carousel owl-theme">
            <div class="carousel-content">
                <div class="services-card v">
                    <i class="flaticon-consultant"></i>
                    <h3><a href="service-details.html">Product Management</a></h3>
                    <p>Full-cycle software development from product ideas to launch while mitigating risks and delivering products in a timely fashion.</p>
                    <a href="service-details.html" class="learn-btn">
                        Learn More <i class='bx bx-chevron-right'></i>
                    </a>
                </div>
            </div>
            <div class="carousel-content">
                <div class="services-card service">
                    <i class="flaticon-web-development"></i>
                    <h3><a href="service-details.html">Web Development</a></h3>
                    <p>Secure and excellent design expertise.</p>
                    <a href="service-details.html" class="learn-btn">
                        Learn More <i class='bx bx-chevron-right'></i>
                    </a>
                </div>
            </div>
            <div class="carousel-content">
                <div class="services-card service">
                    <i class="flaticon-stats"></i>
                    <h3><a href="service-details.html">Outsourced Development</a></h3>
                    <p>The team of developers demonstrates utmost professionalism and exhibits outstanding expertise in their respective domains. </p>
                    <a href="service-details.html" class="learn-btn">
                        Learn More <i class='bx bx-chevron-right'></i>
                    </a>
                </div>
            </div>
            <div class="carousel-content">
                <div class="services-card service">
                    <i class="flaticon-stats"></i>
                    <h3><a href="service-details.html">Outsourced Software Testing</a></h3>
                    <p>Professionalism and outstanding testers provide customers with high-quality testing services and products.</p>
                    <a href="service-details.html" class="learn-btn">
                        Learn More <i class='bx bx-chevron-right'></i>
                    </a>
                </div>
            </div>
            <div class="carousel-content">
                <div class="services-card service">
                    <i class="flaticon-stats"></i>
                    <h3><a href="service-details.html">UI/UX Design</a></h3>
                    <p>Craft with research and experimentation at their core resulting in intuitive experiences.</p>
                    <a href="service-details.html" class="learn-btn">
                        Learn More <i class='bx bx-chevron-right'></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="service-shape">
        <img src="~/assets/images/shape/service-shape1.png" alt="Images">
    </div>
</section>


<style>
    .Our-Services .owl-nav .owl-prev {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        left: -7%;
        font-size: 25px !important;
        -webkit-transition: 0.7s;
        transition: 0.7s;
        width: 45px;
        height: 45px;
        border-radius: 50px;
        line-height: 47px !important;
        background-color: transparent !important;
        color: #0071dc !important;
        border: 1px solid #0071dc !important;
    }

    .service {
        height:357px !important
    }

    .Our-Services .owl-nav .owl-next {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        right: -7%;
        color: #444444 !important;
        font-size: 25px !important;
        -webkit-transition: 0.7s;
        transition: 0.7s;
        width: 45px;
        height: 45px;
        line-height: 47px !important;
        border-radius: 50px;
        background-color: transparent !important;
        color: #0071dc !important;
        border: 1px solid #0071dc !important;
    }
</style>

<script>
    $('.Our-Services').owlCarousel({
        loop: true,
        margin: 30,
        nav: true,
        dots: false,
        autoplay: true,
        autoplayHoverPause: true,
        responsive: {
            0: {
                items: 1
            },
            992: {
                items: 4
            }
        },
        navText: [
            "<i class='bx bx-chevron-left'></i>",
            "<i class='bx bx-chevron-right'></i>"
        ],
    })
</script>