<div class="inner-banner">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Contact us</h3>
            <p class="text-white">Experience our accessible expertise and personalised service. Contact us to navigate the evolving technology landscape.</p>
        </div>
    </div>
    <div class="inner-shape">
        <img src="assets/images/shape/inner-shape.png" alt="Images">
    </div>
</div>

<div class="contact-form-area pt-100 pb-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-sm-12">
                <div class="contact-text">
                    <div class="service-article">
                        <div class="service-article-content">
                            <ul class="service-article-list service-article-rs">
                                <li><i class="bx bxs-check-circle"></i>Unsure about available and relevant tech options for your business goals?</li>
                                <li><i class="bx bxs-check-circle"></i>Need rapid scaling for your idea or solution?</li>
                                <li><i class="bx bxs-check-circle"></i>Require immediate assistance to fill a digital skills gap?</li>
                                <li><i class="bx bxs-check-circle"></i>Seeking prompt technical resources for a crucial project or client need?</li>
                                <li><i class="bx bxs-check-circle"></i>Limited budget and unsure of its potential to support your digital ambitions?</li>
                            </ul>
                            <h2>We've got you covered!</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact-form-area pb-70 contact-info rounded-0 m-0">
    <div class="container">
        <div class="row pt-45">
            <div class="col-lg-4">
                <div class="mr-20">
                    <h2>Bring Your Idea To Reality?</h2>
                    <p>Please leave us a message so we can direct your enquiry to the right team</p>
                    <ul>
                        <li>
                            <div class="content">
                                <i class='bx bx-envelope'></i>
                                <h3>Contact Info</h3>
                                <a href="#"><span>contact@tntechnology.co.uk</span></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="contact-form">
                    <form id="contactForm">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="text-white">Your Name <span class="d-inline">*</span></label>
                                    <input type="text" name="FirstName"class="form-control" required
                                           data-error="Please Enter Your Name" placeholder="Your Name">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="text-white">Company name<span class="d-inline">*</span></label>
                                    <input type="text" name="LastName"class="form-control" required
                                           data-error="Please Enter Company name" placeholder="Company name">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="text-white">Email <span class="d-inline">*</span></label>
                                    <input type="text" name="Email" required
                                        data-error="Please Enter Email" class="form-control"
                                        placeholder="Email">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="text-white">NumberNumber</label>
                                    <input type="text" name="Email" class="form-control"
                                           placeholder="Email">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label class="text-white">How can we assist? <span class="d-inline">*</span></label>
                                    <textarea name="message" class="form-control" id="Message" cols="30" rows="8"
                                        required data-error="Your message"
                                        placeholder="Your Message"></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 text-center">
                                <button type="submit" class="default-btn btn-bg-two border-radius-50">
                                    Submit <i class='bx bx-chevron-right'></i>
                                </button>
                                <div id="msgSubmit" class="h3 text-center hidden"></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="map-area d-none">
    <div class="container-fluid m-0 p-0">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50194.82376159623!2d-79.09792989247224!3d38.159337740034566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b4a08eb8621697%3A0xe5d6e4710a09b66e!2sStaunton%2C%20VA%2024401%2C%20USA!5e0!3m2!1sen!2sbd!4v1607173226867!5m2!1sen!2sbd"></iframe>
    </div>
</div>